name: Publish artifacts

on:
  push:
    branches: [ master ]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Define version
      run: echo "package_version=0.9.$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
    - name: Restore dependencies
      run: dotnet restore DotNet.Shared.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore /p:Version=$package_version DotNet.Shared.sln
    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal DotNet.Shared.sln
    - name: Publish
      run: |
        dotnet nuget push Blazor.JsBindingsGenerator/bin/Release/Blazor.JsBindingsGenerator.$package_version.nupkg --source https://nuget.pkg.github.com/qrknx/index.json --api-key ${{ secrets.PACKAGES_TOKEN }}
