name: Publish artifacts

on: workflow_dispatch

jobs:
  Publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    #- name: Define version
    #  run: echo "package_version=0.9.$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
    - name: Restore dependencies
      run: dotnet restore DotNet.Shared.sln
    - name: Find tag
      # IMPORTANT: this is dry run, tag is created below!
      id: find_tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
        WITH_V: false
        DRY_RUN: true
        INITIAL_VERSION: 0.9.22
        DEFAULT_BUMP: patch
    - name: Build
      run: dotnet build --configuration Release --no-restore /p:Version=${{ steps.find_tag.outputs.new_tag }} DotNet.Shared.sln
    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal DotNet.Shared.sln
    - name: Create tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
        WITH_V: false
        INITIAL_VERSION: 0.9.22
        DEFAULT_BUMP: patch
    - name: Publish
      run: |
        dotnet nuget push BlazorJsBindingsGenerator/bin/Release/BlazorJsBindingsGenerator.${{ steps.find_tag.outputs.new_tag }}.nupkg --source https://nuget.pkg.github.com/qrknx/index.json --api-key ${{ secrets.PACKAGES_TOKEN }}
